parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Carbon\\:\\:isValidDate\\(\\)\\.$#"
			count: 1
			path: src/DateformatterServiceProvider.php

		-
			message: "#^Cannot call method format\\(\\) on Illuminate\\\\Support\\\\Carbon\\|false\\.$#"
			count: 1
			path: src/DateformatterServiceProvider.php

		-
			message: "#^Method Yormy\\\\Dateformatter\\\\Services\\\\DateHelper\\:\\:formatDateTime\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Services/DateHelper.php

		-
			message: "#^Method Yormy\\\\Dateformatter\\\\Services\\\\DateHelper\\:\\:formatDateTime\\(\\) has parameter \\$date with no type specified\\.$#"
			count: 1
			path: src/Services/DateHelper.php

		-
			message: "#^Method Yormy\\\\Dateformatter\\\\Services\\\\DateHelper\\:\\:formatDateTimeFromString\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/Services/DateHelper.php

		-
			message: "#^Parameter \\#1 \\$format of method Carbon\\\\Carbon\\:\\:format\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Services/DateHelper.php
